[submodule "qtbase"]
	path = src/qt/qtbase
	url = https://github.com/SHAU-LOK/qtbase.git
	branch = old_change_name
[submodule "qtwebkit"]
	path = src/qt/qtwebkit
	url = https://github.com/SHAU-LOK/qtwebkit.git
	branch = change_old_name
[submodule "3rdparty-win"]
	path = src/qt/3rdparty
	url = https://github.com/SHAU-LOK/phantomjs-3rdparty-win.git
	branch = change_old_name
