[submodule "qtbase"]
	path = src/qt/qtbase
	url = http://shau-lok@gitlab.toop.localdomain/toop/qtbase.git
	branch = old_change_name
[submodule "qtwebkit"]
	path = src/qt/qtwebkit
	url = http://shau-lok@gitlab.toop.localdomain/toop/qtwebkit.git
	branch = change_old_name
[submodule "3rdparty-win"]
	path = src/qt/3rdparty
	url = http://shau-lok@gitlab.toop.localdomain/toop/phantomjs-3rdparty-win.git
	branch = change_old_name
